/* Base Template */

:root{
	--clr-text: black;

	--clr-bg-dark: #242424;
	--clr-bg-light: #fff;
	--clr-accent: #ff7600;
	--clr-accent-dark: #dd571c;
	--clr-grey: #878787;

	--ff-primary: 'Montserrat', sans-serif;
}

*,
*::before,
*::after{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

img{
	max-width: 100%;
	width: 12rem;
	height: 5rem;

}

body{
	margin: 0;
	height: 100vh;
	overflow-x:hidden;
}

h2{
	font-size: 2rem;
	font-family: var(--ff-primary);
}

footer{
	margin-top: 2em;
	list-style: none;
}



/* Navbar */


.navbar{
	box-shadow: 0px 3px 65px 0px rgba(0,0,0,0.15);
}

.nav-link{
	font-family: var(--ff-primary);

}


/* Main Content */

.main{
	background-image: url(../img/background.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 80vh;
}

.main-content{
	padding-top: 18rem;
	margin-left: 2rem;
	margin-right: 25rem;
}

.main-content h2{
	color: var(--clr-bg-light);
	font-size: 3rem;
	font-weight: 700;
	font-family: var(--ff-primary);
}

.main-content span{
	color: var(--clr-bg-light);
	font-weight: lighter;
	font-size: 1.2rem;
	
}

.main .btn{
	background-color: var(--clr-accent);
	margin-top: 5rem;
	margin-left: 45rem;
}

.main .btn:hover{
	background-color: var(--clr-accent-dark);
}

.main .btn a{
	color: var(--clr-bg-light);
	font-family: var(--ff-primary);
	text-decoration: none;
}


/* Footer  */
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}


/* Contact Us Page */

.contact-container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 1.25rem, 6.25rem;
	color: var(--clr-bg-dark);
}

.contact-container:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url("../img/contact.jpg") no-repeat center;
	background-size: cover;
	z-index: -1;
	filter: blur(2rem);

}


.contact-container .contact-box{
	max-width: 55rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr );
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--clr-bg-light);
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
}

.contact-left{
	height: 100%;
	background: url("../img/contact.jpg") no-repeat center;
	background-size: cover;
}

.contact-rigt{
	padding: 1.6rem 2.5rem;
}

h3{
	font-family: var(--ff-primary);
	position: relative ;
	font-size: 2rem ;
	padding-bottom: 0.625rem;
	margin-bottom: 0.625rem;
	margin-top: 0.625rem;
}


input{
	padding-left: 2rem;
}

.field{
	width: 80%;
	outline: none;
	padding: 0.5rem 1rem;
	background-color: rgba(230, 230, 230, 0.6);
	font-size: 1.1rem;
	margin: 0.8rem 1rem 0.8rem 1rem;
	transition: 0.3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

.field:focus{
	background-color: var(--clr-bg-light);
	border:2px solid rgba(30, 85, 250, 0.47) ;
}

.area{
	min-height: 150px;
}

.contact-btn{
	width: 50%;
	margin: 1rem;
	font-family: var(--ff-primary);
	color: var(--clr-bg-light);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	background-color: var(--clr-accent);
	outline: none;
	cursor: pointer;
	border: none;
}

.contact-btn:hover{
	background-color: var(--clr-accent-dark);
}

/* Login Page */

.form-signin {
  width: 100%;
  max-width: 850px;
  padding: 15px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Side Bar Menu */
.sidebar {
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  margin: -4rem 0;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: var(--clr-accent);
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color:var(--clr-accent-dark);
  color: white;
}

div.content {
  margin: 10rem 15rem 0 15rem;
  padding: 2rem 2rem;
  box-shadow: 0px 3px 65px 0px rgba(0,0,0,0.15);
  border-radius:1rem;
	
}

div.materials{
	margin: 3rem 15rem;
  	padding: 2rem 2rem;
  	box-shadow: 0px 3px 35px 0px rgba(0,0,0,0.15);
  	border-radius:1rem;

}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.content ul{
	margin-left: 4rem;
}

.footer{
    bottom: 0;
    left: 0;
    width: 100%;
    background:var(--clr-accent-dark);
    text-align: center;
    height:10rem;
    color: #f4f4f4;
}

.icons{
    padding-top: 1rem;
}

.icons a{
    text-decoration: none;
    font-size: 2rem;
    margin: 0.5rem;
    color: #f4f4f4;
}

.company-name{
    font-size: 1.6rem;
    margin-top: 0.5rem;
}

/* Products */

.products h2{
	font-family: var(--ff-primary);
	text-align: center;
	font-size: 2rem;
	margin-top: 2rem;
	margin-bottom: 4rem;
	color: var(--clr-text);
}

.products h3{
	text-align: center;
	margin-left: 3rem;
	font-size: 2rem;
	margin-top: 3rem;
}

.card-deck{
	margin: 2rem 2rem;
}
.card-deck .card{

  margin-bottom:2rem;
}

.card{
	max-width:30% ;
  min-width:30% ;
	box-shadow: 0px 3px 65px 0px rgba(0,0,0,0.15);
  border-radius:2rem;

}
.card img{
	width: 100%;
	height: 20rem;
	padding:2rem 4rem;
	border-radius:2rem 2rem 0rem 0rem;	
}

.card-title{
	font-family: var(--ff-primary);
}

.card-text{
	text-align: justify;
}

.card-body .btn{
	margin: auto;
	background-color: var(--clr-accent);
}
.card-body .btn:hover{
	background-color: var(--clr-accent-dark);
}

.card-body .btn a{
	color: var(--clr-bg-light);
	text-decoration: none;
}




/* Profile Page*/
table{
	margin: 1rem 0.2rem;
}
td{
	padding:0.5rem;
}
.profileheader{
	text-align:center;
}

.profileimg{
	border-radius:2rem;	
}

.profileimg img{
	width:100%;
	border:1px solid var(--clr-accent);
	border-radius:2rem;
}

.profileCard{
	margin:2rem 8rem;
	box-shadow: 0px 3px 65px 0px rgba(0,0,0,0.15);
	padding: 2rem 4rem;
} 
.profileEditF{
	margin:0rem 1rem;

}

.profileEditF p{
	margin: 0.5rem 0;
}

.btn-primary{
	margin:0 6rem;
}

#updatedetails{
	margin:0;
}