/* Base Template */

:root{
	--clr-text: black;

	--clr-bg-dark: #242424;
	--clr-bg-light: #fff;
	--clr-accent: #A9D8D3;
	--clr-accent-dark: #dd571c;
	--clr-grey: #878787;
	--clr-blue-dark: #293039;
	--clr-orange-light:#f06529;
	--clr-orange-dark:#e34c26;
	--clr-baby-blue:#89cff0;
	--ff-primary: 'Montserrat', sans-serif;
}

*,
*::before,
*::after{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

img{
	max-width: 100%;
	width: 8rem;
	height: 5rem;

}

body{
	margin: 0;
	height: 100vh;
	overflow-x:hidden;
}

h2{
	font-size: 2rem;
	font-family: var(--ff-primary);
}


/* Navbar */


.navbar{
	box-shadow: 0px 3px 65px 0px rgba(0,0,0,0.15);
	background-color:var(--clr-bg-light);
}

.nav-link{
	color:var(--clr-accent) !important;
	font-family: var(--ff-primary);

}

.nav-link:hover{
	color:var(--clr-blue-light) !important;
}


/* Main Content */

.main{
	background-image: url(../img/background.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 80vh;
}

.main-content{
	padding-top: 18rem;
	margin-left: 2rem;
	margin-right: 25rem;
}

.main-content h2{
	color: var(--clr-bg-light);
	font-size: 3rem;
	font-weight: 700;
	font-family: var(--ff-primary);
}

.main-content span{
	color: var(--clr-bg-light);
	font-weight: lighter;
	font-size: 1.2rem;

}

.main .btn{
	background-color: var(--clr-accent);
	margin-top: 5rem;
	margin-left: 45rem;
}

.main .btn:hover{
	background-color: var(--clr-accent-dark);
}

.main .btn a{
	color: var(--clr-bg-light);
	font-family: var(--ff-primary);
	text-decoration: none;
}


/* Footer  */
.footer {
  position: unset;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0px 3px 65px 0px rgba(0,0,0,0.15);
  color: var(--clr-accent);
  text-align: center;
}

.footer .icons a{
	color: var(--clr-accent);
}


/* Login Page */

.form-signin {
  width: 100%;
  margin-top:10rem;
  margin-bottom:4rem;
  max-width: 52rem;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Side Bar Menu */
.sidebar {
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  margin: -4rem 0;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: var(--clr-orange-light);
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color:var(--clr-orange-dark);
  color: white;
}

div.content {
  margin: 10rem 15rem 0 15rem;
  padding: 2rem 2rem;
  box-shadow: 0px 3px 65px 0px rgba(0,0,0,0.15);
  border-radius:1rem;

}

div.my-repo{
	margin: 3rem 15rem;
  	padding: 2rem 2rem;
  	box-shadow: 0px 3px 35px 0px rgba(0,0,0,0.15);
  	border-radius:1rem;

}

div.public-repo{
		margin: 3rem 15rem;
  	padding: 2rem 2rem;
  	box-shadow: 0px 3px 35px 0px rgba(0,0,0,0.15);
  	border-radius:1rem;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.content ul{
	margin-left: 4rem;
}

.footer{
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 3px 65px 0px rgba(0,0,0,0.15);
    text-align: center;
    height:10rem;
    color: var(--clr-accent);
}

.icons{
    padding-top: 1rem;
}

.icons a{
    text-decoration: none;
    font-size: 2rem;
    margin: 0.5rem;
    color: #f4f4f4;
}

.company-name{
    font-size: 1.6rem;
    margin-top: 0.5rem;
}

/* Products */

.products h2{
	font-family: var(--ff-primary);
	text-align: center;
	font-size: 2rem;
	margin-top: 2rem;
	margin-bottom: 4rem;
	color: var(--clr-text);
}

.products h3{
	text-align: center;
	margin-left: 3rem;
	font-size: 2rem;
	margin-top: 3rem;
}

.card-deck{
	margin: 2rem 2rem;
}
.card-deck .card{

  margin-bottom:2rem;
}

.card{
	max-width:30% ;
  min-width:30% ;
	box-shadow: 0px 3px 65px 0px rgba(0,0,0,0.15);
  border-radius:2rem;

}
.card img{
	width: 100%;
	height: 20rem;
	padding:2rem 4rem;
	border-radius:2rem 2rem 0rem 0rem;
}

.card-title{
	font-family: var(--ff-primary);
}

.card-text{
	text-align: justify;
}

.card-body .btn{
	margin: auto;
	background-color: var(--clr-accent);
}
.card-body .btn:hover{
	background-color: var(--clr-accent-dark);
}

.card-body .btn a{
	color: var(--clr-bg-light);
	text-decoration: none;
}


.no-contentlogo{
	width:100%;	
}

/* Profile Page*/
table{
	margin: 1rem 0.2rem;
}
td{
	padding:0.5rem;
}
.profileheader{
	text-align:center;
}

.profileimg{
	border-radius:2rem;
}

.profileimg img{
	width:100%;
	border:1px solid var(--clr-accent);
	border-radius:2rem;
}

.profileCard{
	margin:8rem 10rem;
	box-shadow: 0px 3px 65px 0px rgba(0,0,0,0.15);
	padding: 2rem 4rem;
}
.profileEditF{
	margin:0rem 1rem;

}

.profileEditF p{
	margin: 0.5rem 0;
}

.btn-primary{
	background-color:var(--clr-accent);
	margin:0 6rem;
	border:none
}


#updatedetails{
	margin:0;
}


.dropdown{
	margin-right:2rem;
}

.dropdown-menu{
	min-width:8rem;

}

.dropdown-item{
	color:var(--clr-accent);
}